/*
@mixin cb-fixed-footer($footer-height) {
    html, body { height: 100%; }
    .page-wrapper {
        height: auto !important;
        height: 100%;
        margin-bottom: -$footer-height;
        min-height: 100%;
    }
    .footer, .push { height: $footer-height; }
}
*/
.accessibility,
.visuallyhidden,
.hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important; }

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url("/ui/fonts/Times New Roman/fonts/Times New Roman.eot?ij9xs5");
  src: url("/ui/fonts/Times New Roman/fonts/Times New Roman.eot?#iefixij9xs5") format("embedded-opentype"), url("/ui/fonts/Times New Roman/fonts/Times New Roman.woff?ij9xs5") format("woff"), url("/ui/fonts/Times New Roman/fonts/Times New Roman.ttf?ij9xs5") format("truetype"), url("/ui/fonts/Times New Roman/fonts/Times New Roman.svg?ij9xs5#Times New Roman") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Times New Roman';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mail:before {
  content: "\e600"; }

.icon-twitter:before {
  content: "\e601"; }

.icon-linkedin:before {
  content: "\e602"; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;*/
  zoom: 1; }

.nobr {
  white-space: nowrap; }

img {
  height: auto;
  width: 100%; }

/* IE10 Metro responsive
 Required for Windows 8 Metro split-screen snapping with IE10
 Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/ */
@-ms-viewport {
  width: device-width; }

/* Scrollbar fixes for IE10 */
.no-touch {
  -ms-overflow-style: scrollbar; }

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="icon-"] {
  -ms-zoom: 1; }

a img {
  border: 0; }

@font-face {
  font-family: 'Arial';
  src: url("/ui/fonts/StagSans-Book-Web.eot");
  src: url("/ui/fonts/StagSans-Book-Web.eot?#iefix") format("embedded-opentype"), url("/ui/fonts/StagSans-Book-Web.woff") format("woff"), url("/ui/fonts/StagSans-Book-Web.ttf") format("truetype"), url("/ui/fonts/StagSans-Book-Web.svg#Arial") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

.StagSans-Book-Web {
  font-family: 'Arial';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Arial';
  src: url("/ui/fonts/StagSans-Semibold-Web.eot");
  src: url("/ui/fonts/StagSans-Semibold-Web.eot?#iefix") format("embedded-opentype"), url("/ui/fonts/StagSans-Semibold-Web.woff") format("woff"), url("/ui/fonts/StagSans-Semibold-Web.ttf") format("truetype"), url("/ui/fonts/StagSans-Semibold-Web.svg#Arial") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }

.StagSans-Semibold-Web {
  font-family: 'Arial';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Stag Web';
  src: url("/ui/fonts/Stag-Semibold-Web.eot");
  src: url("/ui/fonts/Stag-Semibold-Web.eot?#iefix") format("embedded-opentype"), url("/ui/fonts/Stag-Semibold-Web.woff") format("woff"), url("/ui/fonts/Stag-Semibold-Web.ttf") format("truetype"), url("/ui/fonts/Stag-Semibold-Web.svg#Stag Web") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }

.Stag-Semibold-Web {
  font-family: 'Stag Web';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.wrapper-content {
  padding-top: 40px;
  padding-bottom: 40px; }
  .wrapper-content > div {
    color: #F2F1F1;
    margin: 0 auto;
    max-width: 1280px;
    padding-right: 14px;
    padding-left: 14px; }

.social-nav-icons {
  *zoom: 1; }
  .social-nav-icons:before, .social-nav-icons:after {
    content: "";
    display: table; }
  .social-nav-icons:after {
    clear: both; }
  .social-nav-icons a {
    color: white;
    text-decoration: none; }
  .social-nav-icons ul {
    list-style: none; }
  .social-nav-icons li {
    float: left;
    font-size: 24px;
    line-height: 60px;
    margin-right: 18px; }
  .social-nav-icons .icon-linkedin {
    position: relative;
    top: -2px; }

.wrapper-header {
  *zoom: 1;
  background: white; }
  .wrapper-header:before, .wrapper-header:after {
    content: "";
    display: table; }
  .wrapper-header:after {
    clear: both; }
  .wrapper-header .logo {
    float: left;
    max-width: 60px;
    margin-right: 10px;
    position: relative;
    top: 1px; }
  .wrapper-header .name {
    font-family: 'Arial';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #F6ED69;
    float: left;
    font-size: 18px;
    line-height: 60px;
    text-transform: uppercase; }
  @media all and (min-width: 1024px) {
    .wrapper-header .logo {
      max-width: 120px;
      top: 5px; }
    .wrapper-header .name {
      font-size: 36px;
      line-height: 120px; } }
  .wrapper-header .social-nav-icons {
    display: none; }
    .wrapper-header .social-nav-icons a {
      color: #F6ED69; }
    @media all and (min-width: 640px) {
      .wrapper-header .social-nav-icons {
        display: block;
        float: right; }
        .wrapper-header .social-nav-icons li {
          font-size: 24px;
          line-height: 60px;
          margin-right: 18px; } }
    @media all and (min-width: 1024px) {
      .wrapper-header .social-nav-icons li {
        line-height: 120px; } }

.wrapper-digital {
  background: #F6ED69;
  padding-bottom: 25px; }
  .wrapper-digital > div a {
    border-bottom: 1px solid white;
    color: white;
    padding-bottom: .175em;
    text-decoration: none;
    /*
    background-image: linear-gradient(transparent 50%, rgba(255, 255, 255, 1) 50%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0px 1.0625em;
    text-shadow: 2px 1px 0px $orange, -2px 1px 0px $orange, 2px 0px 0px $orange, -2px 0px 0px $orange, 2px -1px 0px $orange, -2px -1px 0px $orange;
    */ }
  .wrapper-digital h1 {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Stag Web';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    font-size: 32px;
    line-height: 1.25em;
    margin-bottom: 1em; }
  .wrapper-digital p {
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 32px; }
  @media all and (min-width: 1024px) {
    .wrapper-digital {
      padding-bottom: 100px;
      padding-top: 100px; }
      .wrapper-digital h1 {
        font-size: 28px;
        line-height: 1.25em;
        margin-bottom: 1em; }
      .wrapper-digital p {
        font-size: 28px; } }
      @media all and (min-width: 1024px) and (min-width: 1024px) {
        .wrapper-digital h1 {
          font-size: 48px; } }

.wrapper-mark-reeves {
  background-image: url("/ui/digi-img/Reeves_Clearbold_SCP-07-hi.jpg");
  background-position: -140px 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  padding-top: 10px;
  padding-bottom: 0;
  width: 100%; }
  .wrapper-mark-reeves > div {
    padding-right: 0;
    padding-left: 0; }
  .wrapper-mark-reeves h2 {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Stag Web';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: #333333;
    font-size: 28px;
    line-height: 1.25em;
    margin-right: 14px;
    margin-bottom: 250px;
    margin-left: 14px;
    text-align: left; }
  .wrapper-mark-reeves .content {
    background: white;
    background: rgba(255, 255, 255, 0.75);
    color: black;
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px; }
    .wrapper-mark-reeves .content p {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5em;
      margin-bottom: 16px; }
    .wrapper-mark-reeves .content .social-nav-icons li {
      line-height: 36px; }
    .wrapper-mark-reeves .content .social-nav-icons a {
      border-bottom: none;
      color: #0099ff; }
  .wrapper-mark-reeves a {
    border-bottom: 1px solid black;
    color: black;
    padding-bottom: .175em;
    text-decoration: none;
    white-space: nowrap; }
  @media all and (min-width: 480px) {
    .wrapper-mark-reeves {
      background-position: center top; }
      .wrapper-mark-reeves h2 {
        margin-bottom: 250px;
        text-align: left; } }
  @media all and (min-width: 640px) {
    .wrapper-mark-reeves h2 {
      margin-bottom: 300px;
      text-align: left; } }
  @media all and (min-width: 980px) {
    .wrapper-mark-reeves h2 {
      margin-bottom: 400px;
      text-align: left; } }
  @media all and (min-width: 1024px) {
    .wrapper-mark-reeves {
      background-image: url("hero.jpg");
      background-position: top left;
      padding-top: 40px;
      padding-bottom: 40px; }
      .wrapper-mark-reeves > div {
        min-height: 600px;
        position: relative; }
      .wrapper-mark-reeves h2 {
        font-size: 28px;
        line-height: 1.25em;
        margin-bottom: 1em; }
      .wrapper-mark-reeves .content {
        background: none;
        bottom: 70px;
        margin-left: 55%;
        padding: 20px 40px;
        position: absolute;
        width: 450px; }
        .wrapper-mark-reeves .content p {
          font-size: 20px; } }
      @media all and (min-width: 1024px) and (min-width: 1024px) {
        .wrapper-mark-reeves h2 {
          font-size: 48px; } }
  @media all and (min-width: 1280px) {
    .wrapper-mark-reeves .content {
      margin-left: 50%;
      width: 600px; } }

.wrapper-dispatchwire-promo {
  *zoom: 1;
  background: #FF432E;
  min-height: 0;
  padding-top: 0;
  padding-bottom: 0; }
  .wrapper-dispatchwire-promo:before, .wrapper-dispatchwire-promo:after {
    content: "";
    display: table; }
  .wrapper-dispatchwire-promo:after {
    clear: both; }
  .wrapper-dispatchwire-promo > div {
    padding-right: 10px;
    padding-left: 10px; }

.dw-promo {
  font-family: 'Arial';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FF432E;
  color: #fcfcfc;
  font-size: 18px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
  position: relative;
  text-align: center; }
  @media all and (min-width: 1280px) {
    .dw-promo {
      min-height: 300px;
      padding-top: 80px;
      padding-bottom: 80px; } }
  .dw-promo .button {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    text-align: center; }
    @media all and (min-width: 640px) {
      .dw-promo .button {
        font-size: 24px; } }
    .dw-promo .button a, .dw-promo .button a:visited, .dw-promo .button a:active {
      font-family: 'Arial';
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      background: #00497f;
      border-radius: 6px;
      color: #fcfcfc;
      display: inline-block;
      font-size: 18px;
      height: 44px;
      line-height: 44px;
      padding-right: 12px;
      padding-left: 12px;
      text-decoration: none; }
      @media all and (min-width: 640px) {
        .dw-promo .button a, .dw-promo .button a:visited, .dw-promo .button a:active {
          font-size: 24px;
          margin-right: 6px; } }
  .dw-promo #login {
    color: #fcfcfc;
    position: absolute;
    right: 10px;
    top: 10px; }
    @media all and (min-width: 640px) {
      .dw-promo #login {
        color: #00497f;
        right: 20px;
        top: -180px; } }
  @media all and (min-width: 640px) {
    .dw-promo > div {
      margin-left: 38%; } }
  @media all and (min-width: 1024px) {
    .dw-promo > div {
      margin-left: 50%; } }
  .dw-promo > span {
    zoom: 1;
    filter: alpha(opacity=30);
    opacity: 0.3;
    left: 1%;
    position: absolute;
    top: -36px;
    z-index: 1; }
    @media all and (min-width: 1280px) {
      .dw-promo > span {
        zoom: 1;
        filter: alpha(opacity=40);
        opacity: 0.4;
        left: 10%;
        top: -36px;
        z-index: 1; } }
  .dw-promo h3 {
    font-size: 16px;
    margin-bottom: 1em;
    position: relative;
    text-transform: uppercase;
    z-index: 3; }
  .dw-promo h2 > span {
    display: block;
    margin-bottom: 24px;
    position: relative;
    text-transform: uppercase;
    z-index: 3; }
  .dw-promo .button {
    z-index: 3; }
    .dw-promo .button a, .dw-promo .button a:visited, .dw-promo .button a:active {
      background: #fcfcfc;
      color: #00497f;
      margin-right: 5px; }
      @media all and (min-width: 640px) {
        .dw-promo .button a, .dw-promo .button a:visited, .dw-promo .button a:active {
          margin-right: 6px; } }
  .dw-promo > a, .dw-promo a:visited, .dw-promo a:active {
    font-family: 'Arial';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    color: #000099;
    color: rgba(0, 0, 153, 0.9);
    color: #00497f;
    font-size: 16px;
    position: relative;
    z-index: 9; }

.wrapper-sustainable {
  padding-bottom: 0; }
  .wrapper-sustainable > div {
    color: black; }
  .wrapper-sustainable h2 {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Stag Web';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    font-size: 28px;
    line-height: 1.25em;
    margin-bottom: 1em;
    color: #00497f; }
    @media all and (min-width: 1024px) {
      .wrapper-sustainable h2 {
        font-size: 48px; } }
  .wrapper-sustainable p {
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 2em; }
  @media all and (min-width: 1024px) {
    .wrapper-sustainable p {
      font-size: 24px;
      margin-bottom: 2em; } }

.wrapper-contact {
  *zoom: 1;
  padding-top: 0;
  overflow: hidden; }
  .wrapper-contact:before, .wrapper-contact:after {
    content: "";
    display: table; }
  .wrapper-contact:after {
    clear: both; }
  .wrapper-contact a {
    border-bottom: 1px solid black;
    color: black;
    padding-bottom: .175em;
    text-decoration: none; }
  .wrapper-contact h2 {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Stag Web';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    font-size: 28px;
    line-height: 1.25em;
    margin-bottom: 1em;
    color: #F6ED69; }
    @media all and (min-width: 1024px) {
      .wrapper-contact h2 {
        font-size: 48px; } }
  .wrapper-contact .content {
    color: black;
    font-size: 16px;
    line-height: 1.5em; }
  .wrapper-contact .workspace-image {
    left: -2%;
    margin-bottom: 24px;
    overflow: hidden;
    position: relative;
    width: 120%; }
  @media all and (min-width: 768px) {
    .wrapper-contact .workspace-image {
      left: auto;
      right: -5%;
      position: relative;
      width: auto; }
      .wrapper-contact .workspace-image img {
        width: auto; } }
  @media all and (min-width: 1024px) {
    .wrapper-contact .content {
      float: left;
      font-size: 24px;
      width: 40%; }
    .wrapper-contact .workspace-image {
      float: right;
      right: auto;
      width: 60%;
      position: static; }
      .wrapper-contact .workspace-image img {
        margin-left: 20px;
        width: 100%; } }

.wrapper-footer {
  background: #F6ED69;
  font-size: 16px;
  line-height: 1.5em;
  padding-bottom: 60px; }
  @media all and (min-width: 640px) {
    .wrapper-footer {
      min-height: 200px; } }
  .wrapper-footer a {
    color: white;
    text-decoration: none; }
